body {
  margin: 30px 50px;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.app {
}

.search {
  padding: 2rem 1rem 0;
  display: inline-flex;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: center;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.result .definition {
  width: 100%;
  padding-bottom: 1rem;
}

.search button.btn {
  background-color: orange;
  border-color: orange;
  border-radius: unset;
}

.search button.btn:hover,
.search button.btn:active,
.search button.btn:focus {
  background-color: darkorange !important;
  border-color: darkorange !important;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
}

.search input.form-control {
  border-radius: unset;
}

.search input.form-control:focus {
  box-shadow: unset;
  -webkit-box-shadow: unset;
}
